<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<display-name>WelcomeTest</display-name>
  <description>
      WelcomeTest
  </description>
<servlet>
   <servlet-name>AcceptInfo</servlet-name>
   <servlet-class>org.kmbtech.tri.server.android.AcceptInfo</servlet-class>
</servlet>

<servlet-mapping>
   <servlet-name>AcceptInfo</servlet-name>
   <url-pattern>/AcceptInfo</url-pattern>
</servlet-mapping>
</web-app>
                    
